<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="" targetFramework="net453" />
  <package id="bootstrap" version="" targetFramework="net453" />
  <package id="EntityFramework" version="" targetFramework="net453" />
  <package id="jQuery" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.Mvc" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.Razor" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.Web.Optimization" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.Client" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.Core" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebPages" version="" targetFramework="net453" />
  <package id="Microsoft.Web.Infrastructure" version="" targetFramework="net453" />
  <package id="Modernizr" version="" targetFramework="net453" />
  <package id="Newtonsoft.Json" version="" targetFramework="net453" />
  <package id="Respond" version="" targetFramework="net453" />
  <package id="WebGrease" version="" targetFramework="net453" />
</packages>